@charset "utf-8";

/* CSS Document */
body{margin:0}
h1 a img{position:relrelative;width:191px;height:90px;margin-left:80px}
#header{height:90px;background:#fff}
header{font-size:30px;width:100%;padding:0 66px;margin:0 auto;background-color:#fff;position:fixed;z-index:100;box-shadow:0 4px 10px rgba(0,0,0,0.1)}
h1, nav{display:inline-block;float:left}
h1{font-size:1em}
h1 a{color:#282a35;display:inline-block;padding:25px;text-decoration:none;height:90px;box-sizing:border-box}
nav{text-align:center;float:right}
nav a{color:#000000;text-decoration:none;padding:25px 30px;display:inline-block;font-size:18px;font-weight:500;font-family:'Segoe UI';line-height:40px}
nav a:hover{border-bottom:3px solid #282a35;padding-bottom:22px;color:#000000}
.content{background:#fff;overflow:hidden}
.tit{margin-top:152px;margin-bottom:61px !important;text-align:center;font-size:40px;font-family:'Segoe UI'}

.main-visual dt{position:absolute;right:20%;top:50%;transform:translateY(-50%);color:#fff;text-align:center;font-size:46px}
.main-tit{margin-left:auto;margin-right:auto;font-size:30px;font-weight:700;font-family:'Segoe UI'}

.related-cont h4, .sec-cont h3{text-align:center;font-size:40px;padding:80px 0 60px}

.related-cont{text-align:center;vertical-align:middle;margin-bottom:100px;margin-left:auto;margin-right:auto}
.containner{display: inline-block;margin-left: 3.5%;margin-right: 3.5%}
.related-cont h4{font-size:26px;font-weight:500;margin-bottom:30px;position:relative}
.related-cont{overflow:hidden}
.related-cont h5{text-decoration:underline;font-weight:500}

.text{font-size:20px;text-align:left;font-family:'Segoe UI'}

.bannerimg{width:100%;height:440px;background-image:url("../Img/img-sample-lg.jpg");position:relative;z-index:2;display:flex;align-items:center}

.container .card{position:relative;z-index:2;background-color:transparent;border:1px solid #000;border-radius:0}
.card .card-body{padding:10px 13px 24px 13px;border-top:1px solid #000}
.card-text-tit{margin-bottom:0;font-size:20px;text-decoration:underline}
.card-body .card-text{text-align:left;font-size:20px;font-family: 'Segoe UI';}
.container{margin-bottom:50px}

.side-txt{transform:translate(450px,500px) rotate(90deg);font-size:160px;font-family:'Segoe UI';font-weight:bold;color:#9D9D9D;;position:absolute;z-index:1}