.post-card-container{width:29vw;border:1px solid #000}
.post-thumb-container{height:29vw}
.post-content-container{height:4.3vw;padding:1.05vw 1.99vw;border-top:1px solid #000;font-family:'Noto Sans KR',sans-serif}
.user-id-area p{margin:0;font-size:0.94vw;text-decoration:underline}
.post-title-area p{margin:0;font-size:1.64vw}