#header{height:90px;background:#fff}
header{font-size:30px;width:1260px;margin:0 auto} 
h1, nav{display:inline-block;float:left}
h1{font-size:1em}
h1 a{color:#282a35;display:inline-block;padding:25px;text-decoration:none;height:90px;box-sizing:border-box}
nav{text-align:center;float:right;}
nav a{color:#000000;text-decoration:none;padding:25px 30px;display:inline-block;font-size:18px;font-weight:500;font-family:'Segoe UI';line-height:40px}
nav a:hover{border-bottom:3px solid #282a35;padding-bottom:22px;color:#000000}

.signin-text{margin-left:245px;margin-bottom:0;font-size:70px;font-family:'Segoe UI';font-weight:700;position:absolute}

.wrapper{display:flex;justify-content:center;align-items:center;min-height:100vh}
form{width:627px;height:712px;font-size:1rem;border:1px solid #707070;padding:86px 86px 54px}
.signlogo{display:block;margin:0 auto;margin-bottom:50px}
.smform{padding:0px 100px}
.smform-btn{display:table;width:100%;table-layout:fixed}
.smform-btn a{font-size:10px;text-decoration:none;color:#000;display:table-cell;text-align:center}
.smform-btn a:hover{color:#000}

button{width:455px;height:71px;margin-top:36px;border:none;border-radius:20px;background-color:#afafaf;color:#fff;font-size:20px;font-family:'Segoe UI'}
.stbtn:hover{background-color:#000;font-family:'Segoe UI'}
button:hover{background-color:#2EEF00;font-family:'Segoe UI'}

/* footer */
footer{height:585px;background:#f9f9f9;padding:50px 0;text-align:left;display:flex;align-items:center}
footer>div{width:1200px;margin:0 auto}
.footer-cont p{line-height:4em;border-top:1px solid rgba(0,0,0,.3)}
.footer-cont p:first-child{border-top:none}